.head-nav .start,a:nth-child(2):hover~.fr  {
    left: 118px;
  width: 71.65px;
  }
  .tt {
    
    padding: 70px 0;
}

.title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
}

.text {
    font-size: 20px;
    line-height: 1.5;
}

main {
  margin-top: 75px;
  margin: 120px 100px 110px 100px;
}